@import 'base/normalize.scss';
@import 'base/null.scss';

@import 'utils/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-family: 'EB Garamond', serif;
  color: #f1f1f1;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.output {
  border: 3px solid rgba(241, 241, 241, 0.5);
  color: #f1f1f1;
}

.hidden {
  display: none;
}

.keyboard {
  border: 3px solid rgba(241, 241, 241, 0.5);
  padding: 0.625rem;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  &__row {
    display: flex;
    gap: 0.375rem;
  }

  &__key {
    border: 3px solid rgba(241, 241, 241, 0.5);
    width: 2.7rem;
    height: 2.7rem;
    background: #373B44;
    background: -webkit-linear-gradient(to right, rgba(66, 134, 244, 0.5), #373B44);
    background: linear-gradient(to right, rgba(66, 134, 244, 0.5), #373B44);

    line-height: 2.5rem;
    text-align: center;
    transition: all 0.1s ease-in;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(241, 241, 241, 1);
      border: 3px solid rgba(241, 241, 241, 1);
    }
  }
}

.Backspace,
.CapsLock,
.ShiftLeft {
  width: 6.25rem;
}

.Tab {
  width: 3.125rem;
}

.Backslash,
.Enter,
.ShiftRight {
  width: 5.75rem;
}

.Space {
  width: 21.6rem;
}

.press {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(241, 241, 241, 1);
  border: 3px solid rgba(241, 241, 241, 1);
}